

{% extends 'base.html' %}
{% load static %}
{% block content %}
<hr />
  <!-- Alert Box -->
{% comment %} <section class="min-h-screen bg-indigo-800"> 
 <h1 class="text-center text-white">
 About the Techspace
 </h1>
  
    <p class=" text-center text-white mt-10">
      TechSpace is THE place for the latest and greatest in tech news!
    </p>

 
</section>  {% endcomment %}

   <section class="mt-3 bg-gray-800"> 
 <div id="background" class="w-full h-screen  bg-gray-800 pt-48">
  <div id="card" class="container mx-auto w-full bg-gray-400 bg-opacity-75 rounded-lg p-6 md:flex max-w-3xl shadow-xl">
    <img class="block rounded-full w-26 h-26 mx-auto -mt-32 md:mt-0 md:flex-1 mx-w-sm md:mr-4 max-w-sm max-h-sm" href="main_app/static/css/nickdev.jpeg" />
    <div class="text-purple-200 text-center md:text-left md:flex-1">
      <h2 class="text-2xl text-4xl">Ray Rodriguez<h2>
      <span class="block text-xl sm:text-3xl ">Full-Stack Software Engineer 💻</span>
      <div class="sm:flex md:block">
       <button> <a  class="block sm:flex-1 text-xl sm:text-2xl underline text-blue-400"
          href="mailto:nickrrodriguez@gmail.com">
         Email me!
        </a></button>
        <span class="block sm:flex-1 text-xl sm:text-2xl sm:pl-1 md:pl-0">(000) 000-0000</span>
      </div>
      <p class="block text-lg sm:text-xl text-justify">
      Hello! I'm Ray Rodriguez, a Software Engineer with a focus on Front-end Design. Currently situated in New York City, with a passion creating test driven and extendable code that keeps services both stable and reliable.
      </p>
    </div>
  </div>
</div>
</section> 
<div class="mt-20"> 
</div> 
  {% endblock %}