
 
{% load static %}
{% load tailwind_tags %}
 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
   <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/splash.svg' %}"
  >
  {% tailwind_css %}
  <title>TechSpace</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
   {% comment %} enter logo {% endcomment %}
      </a>
    </div>


    <section> 
    <nav>
 <div class="md:flex items-center" :class="isOpen ? 'block' : 'hidden'">
        <div class="flex flex-col mt-2 md:flex-row md:mt-0 md:mx-1">
          <a class="my-1 text-sm text-gray-700 leading-5 hover:text-blue-600 hover:underline md:mx-4 md:my-0" href="/">Home</a>
           <a class="my-1 text-sm text-gray-700 leading-5 hover:text-blue-600 hover:underline md:mx-4 md:my-0" href="/about">About</a>
          <a class="my-1 text-sm text-gray-700 leading-5 hover:text-blue-600 hover:underline md:mx-4 md:my-0" href="{% url 'posts_index' %}">Posts</a>
          <a class="my-1 text-sm text-gray-700 leading-5 hover:text-blue-600 hover:underline md:mx-4 md:my-0" href="{% url 'posts_create' %}">Create A Post</a>
           <a class="my-1 text-sm text-gray-700 leading-5 hover:text-blue-600 hover:underline md:mx-4 md:my-0" href="">Boards</a>
        </div>
    </nav>
    </section> 
  </header>
  <div class="min-h-screen bg-gradient-to-b from-blue-700 to-indigo-800 flex items-center justify-center">
	<div class="bg-white p-4 rounded-md">
  <main class=" ">
    {% block content %}
    {% endblock %}
  </main>
  </div> 
  </div>
</body>
</html>