
 
{% load static %}
{% load tailwind_tags %}
 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
   <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/splash.svg' %}"
  >
  {% tailwind_css %}
  <title>TechSpace</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
   {% comment %} enter logo {% endcomment %}
      </a>
    </div>


    <section> 
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a class =" text-indigo-500" href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'posts_index' %}">All Posts</a></li>
        <li><a href="{% url 'posts_create' %}">Add A Post</a></li>
        <li><a href="">Boards</a></li>

      </ul>
    </nav>
    </section> 
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>