
{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/> 
{% endblock %}
{% block content %}
  <!-- Alert Box -->
 
<section>
  <form action="{% url 'home' %}" method="post" class="login text-center">
    <h1 class="text-2xl">LoginForm</h1>
    {% csrf_token %}
    <div class='m-10' >{{ form.as_p }}<div> 
    <input class=" w-10" type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold mt-2 py-2 px-4 rounded focus:outline-none focus:shadow-outline  submit">Login</button>
  </form>
</section>

  {% endblock %}
