

{% extends 'base.html' %}
{% load static %}
{% block content %}

 {% comment %}profile section  {% endcomment %}

 <!-- Add Profile Card -->


<section class="mt-3 ml-60 xs:mr-40  sm:mr-40 lg:ml-96 bg-gray-800 shadow-2xl relative transform hover:shadow2xl hover:scale-105 transition duration-300 col-span-12 xl:shadow-sm"> 
 <div class="max-w-md  py-4 px-8 bg-white shadow-lg rounded-lg my-20">
  
  <div>
    <h2 class="text-gray-800 text-3xl font-semibold">{{ profile.user }}</h2>
    <p class="mt-2 text-gray-600">
    {{profile.posts.count}}
    </p>
  </div>
  
  <div class="flex justify-end mt-4">
    <a href="#" class="text-xl font-medium text-red-400">Posts Below</a>

  </div>
</div>
</div>
</section>  

  <!-- Alert Box -->
{% for post in posts %}

<section class="card-container mt-20 mx-auto px20 ml-5 flex flex-col  ">
<div class="min-h-screen flex items-center justify-center ">
  <div class="container overflow-hidden mx-auto px-20">
    {% for post in posts %}
    <div class="bg-white  mb-5 p-8  relative transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
    <a href="{% url 'posts_detail' post.id %}">
      <h1 class="text-2xl  text-gray-800 font-semibold mb-3">{{ post.title }}</h1>
       {% if post.create_time > 0 %}
         <p class="text-gray-600 leading-6 tracking-normal">
        Post was created at {{ post.create_time }}.</p>
     
      {% else %}
       <p class="text-gray-600 leading-6 tracking-normal overflow-y-auto">{{ post.content }}</p> 
       <p class="text-gray-600 leading-6 tracking-normal">
        Post was created at {{ post.create_time }}.</p>
        {% endif %}
  <button class="py-2 px-4 mt-8 bg-red-500 text-white rounded-md shadow-xl">{{ post.author }}</button>
    </div>
      {% endfor %}
  </div>
</div>
</section>



{% endfor %} 

{% endblock %}