

{% extends 'base.html' %}
{% load static %}
{% block content %}

 {% comment %}profile section  {% endcomment %}

 <!-- Add Profile Card -->
<hr/>

<section class=" mb-48"> 
   <div id="background" class="w-full h-screen  pt-14">
  <div id="card" class="container mx-auto w-full bg-red-400 bg-opacity-75 rounded-full p-10 md:flex max-w-3xl shadow-xl">
    <img class="block rounded-full w-26 h-26 mx-auto -mt-32 md:mt-0 md:flex-1 mx-w-sm md:mr-4 max-w-sm max-h-sm" href="main_app/static/css/nickdev.jpeg" />
    <div class="text-purple-200 text-center md:text-left md:flex-1">
      <h2 class="text-2xl">{{ post.author }}  <h2>
      <span class="block text-xl sm:text-3xl ">Full-Stack Software Engineer 💻</span>
      <div class="sm:flex md:block">
     
        <span class="block sm:flex-1 text-xl sm:text-2xl sm:pl-1 md:pl-0">(000) 000-0000</span>
      </div>
      <p class="block text-lg sm:text-xl text-justify">
    Bio: Gubergren erat et rebum et accusam, est et erat duo elitr eirmod invidunt ipsum. Amet dolore lorem ipsum sed, aliquyam kasd sit sit dolor invidunt, sea labore sit justo et kasd sadipscing at stet diam, invidunt consetetur diam aliquyam vero dolor. Amet ipsum invidunt consetetur erat et stet sed lorem,.
      </p>  
      <button class="rounded-lg p-2 mt-3 bg-white  "> <a  class="block sm:flex-1 text-xl sm:text-2xl  text-red-400"
          href="mailto:nickrrodriguez@gmail.com">
         Email me!
        </a></button>
    </div>
  </div>
</div>

</section> 

  <!-- Alert Box -->
{% for post in posts %}

<section class="card-container mt-20 mx-auto px20 ml-5 flex flex-col  ">
<div class="min-h-screen flex items-center justify-center ">
  <div class="container overflow-hidden mx-auto px-20">
    {% for post in posts %}
    <div class="bg-white  mb-5 p-8  relative transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
    <a href="{% url 'posts_detail' post.id %}">
      <h1 class="text-2xl  text-gray-800 font-semibold mb-3">{{ post.title }}</h1>
       {% if post.create_time > 0 %}
         <p class="text-gray-600 leading-6 tracking-normal">
        Post was created at {{ post.create_time }}.</p>
     
      {% else %}
       <p class="text-gray-600 leading-6 tracking-normal overflow-y-auto">{{ post.content }}</p> 
       <p class="text-gray-600 leading-6 tracking-normal">
        Post was created at {{ post.create_time }}.</p>
        {% endif %}
  <button class="py-2 px-4 mt-8 bg-red-500 text-white rounded-md shadow-xl">{{ post.author }}</button>
    </div>
      {% endfor %}
  </div>
</div>
</section>


{% comment %} <h1 class="text-white">{{ post.author }}</h1>
  <p class="text-white ">{{ post.content }}</p> {% endcomment %}
{% endfor %} 

{% endblock %}