{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header text-gray-400 text-center font-semibold ">
  <h1 class="mb-2 text-white ">Sign Up</h1>
  
{% if error_message %}
  <p class="red-text text-red-400">{{ error_message }}</p>
{% endif %}
<form action="" method="post" class="form-container text-center " autocomplete="off">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="bg-red-400 hover:bg-red-600 text-white content-center font-bold mt-4 py-2 px-2 rounded focus:outline-none focus:shadow-outline">Submit!</button>
</form>
  
{% endblock %}