/* .form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

table {
  padding: 0 40px;
  width: 100%;
  border-spacing: 0 20px;
  margin: 10px; 
}

th {
  text-align: left;
  padding: 6px 1px 0 0;
  font-weight: bold ;
  vertical-align: top;
  font-size: var(--font-reg);
}

td {
  max-width: 100%;

}

td > * {
  width: 80%;
  padding: 2px 4px;
  font-size: var(--font-l);

}

td > textarea {
  height: calc(4 * var(--font-l) + 6px); 
  font-family: inherit;
  margin: 5px;
  padding: 1px; 
}


/* .btn {
  align-self: flex-end;
  margin-right: 40px;
} */
/*
input { 
  margin-top: 10px;
  
}

.id_title { 
  margin-top: 10px;


}

#id_author { 
  margin: 10px;
}

#id_content { 
  margin-left: 20px; 
  margin: 10px; 
} */

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

table {
  padding: 0 40px;
  width: 100%;
  border-spacing: 0 20px;
}

th {
  text-align: center;
  padding: 6px 20px 0 0;
  font-weight: normal;
  vertical-align: top;
  font-size: var(--font-reg);
  color: red;
}

td {
  max-width: 50%;
  
}

td > * {
  width: 100%;
  padding: 2px 4px;
  font-size: var(--font-l);
  

}

td > textarea {
  height: calc(4 * var(--font-l) + 8px);
  font-family: inherit;
  color: gray;
  
}

.btn {
  align-self: flex-end;
  margin-right: 40px;
}

label { 
  color: white;
  text-align: center; 
  font-size: 20px;
  margin-bottom: 2px;
  font-weight: bold;  
  font-family: inherit;
}