


.login input {
  font-size: var(--font-l);
  padding: 2px 4px;
  margin: 5px;
}
.header-logo-container {
  display: none;
}

.logo-container {
  max-width: 375px;
  margin-top: 200px; 
  margin-left: 120px; 
  position: fixed; 
  
}

.cat-container {
  width: 60%;

}

html,
body {
  font-family: "Rubik", sans-serif;
}

/* navigation 
 - show navigation always on the large screen devices with (min-width:1024)
*/

@media (min-width: 1024px) {
  .top-navbar {
    display: inline-flex !important;
  }
}