{% extends 'base.html' %} {% block content %}
{% load static %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/cat-detail.css' %}"
/>

<section class="bg-gray-800 min-h-0 mb-20"> 
<h1 class="text-center text-white text-xl m-5">POST DETAIL PAGE </h1> 
<section class="text-center"> 
<div class="container text-gray-800 font-semibold mx-auto w-max bg-white  rounded-lg p-3 shadow-2xl  lg:mr-3.5">
  <div class="row">
    {% comment %} <div class="col-md-8 text-center card mb-4  mt-3 left  top"> {% endcomment %}
      <div class="card-body text-center lg:m-5">
        <h1 class="text-xl text-center">{% block title %} {{ post.title }} {% endblock title %}</h1>
   
        <p class="card-text mt-3 mb-3 flex-wrap overflow-y-auto lg:overflow-y-auto md:overflow-y-auto sm:overflow-y-auto">{{ post.content | safe }}</p>
        <p class=" ">Written By: {{ post.author }} | </p> 
        <p class=" text-sm"> Created On: {{ post.create_time }}</p>
      </div>
      <div class="cat-actions text-center m-5">
      <a href="{% url 'posts_update' post.id %}" class="py-2 px-4 mr-2 bg-white hover:bg-red-100 focus:ring-red-500 focus:ring-offset-indigo-200 text-red-500 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg">Edit</a>
      <a href="{% url 'posts_delete' post.id %}" class="py-2 px-4  bg-red-600 hover:bg-red-700 focus:ring-indigo-500 focus:ring-offset-red-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg">Delete</a>
    {% comment %} </div> {% endcomment %}
    </div>
    </section> 
  <div class="feedings-toy-container">
    <section class="feedings text-center mt-5">




</div> 
<div class="col-md-8 card mb-3  mt-2 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h3 class="text-center text-white">Talk about it</h3>
        <form 
        class="text-center  p-10 break-words  "
        method="post"
        action={% url 'add_comment' post.id %}
        >
        <div class="text-gray-400 grid-cols-3 gap-5"> 
          {{ comment_form.as_p }}
          </div>
          {% csrf_token %}
          <button type="submit" class="bg-red-500 hover:bg-red-700 text-white content-center font-bold mt-2 py-2 px-2 rounded focus:outline-none focus:shadow-outline">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>

    </div>


{% for comment in post.comment_set.all %}
<div class="bg-gray-800">
<section class="card-container mx-auto px20 ml-5 flex flex-col ">
<div class="comments flex flex-wrap items-center justify-center">
  <div class="container mx-auto  px-20">

    <div class=" mb-5 p-8 bg-white rounded-lg shadow-lg relative hover:shadow-3xl transition-shadow duration-500">
      <h1 class="text-2xl text-gray-800 font-semibold mb-3">{{ comment.title }}</h1>
       <p class="text-gray-600 leading-6 tracking-normal flex flex-wrap overflow-ellipsis">{{ comment.content | linebreaks }}</p> 
       <p class="text-gray-600 leading-6 tracking-normal">
        Comment was created at {{ comment.create_time }}.</p>
  <button class="py-2 px-4 mt-8 bg-red-500 text-white rounded-md shadow-xl">{{ comment.author }}</button>
      <div>
        <span class="absolute py-2 px-8 text-sm text-white top-0 right-0 bg-red-500 rounded-md transform translate-x-2 -translate-y-3 shadow-xl">New</span>
      </div>
      
    </div>
  </div>
</div>
      {% endfor %}
</section>
</div>

</section> 
  </div>
{% endblock content %}



