{% extends 'base.html' %} {% block content %}
{% load static %}
<h1 class="text-center">POST DETAIL PAGE </h1> 
<div class="container shadow-xl mb-2">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1 class="text-xl">{% block title %} {{ post.title }} {% endblock title %}</h1>
        {% comment %} <p class="card-text ">{{ post.create | safe }}</p> {% endcomment %}
        <p class=" text-muted">Written By: {{ post.author }} | </p> 
        <p class="card-text mt-3 mb-3">{{ post.content | safe }}</p>
        <p class=" text-sm"> Created On: {{ post.create_time }}</p>
      </div>
      <div class="cat-actions">
      <a href="{% url 'posts_update' post.id %}" class="btn warn">Edit</a>
      <a href="{% url 'posts_delete' post.id %}" class="button">Delete</a>
    </div>
    </div>

  </div>
</div>
{% comment %} <div class="container ml-10">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.create_time }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div>
    {% comment %} {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %} {% endcomment %}
  </div>
</div> 

{% endblock content %}



{% comment %} {% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/cat-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="cat-container text-center mt-10">
  <div class="cat-img">
    {% comment %} <img 
      src="{% static 'images/sk8r-boi-cat.svg' %}" 
      alt="A skater boy cat"
    > {% endcomment %}
  {% comment %} </div>
  <div class="cat-details">
    <h1>{{ post.title }}</h1>
    {% if post.create_time > 0 %}
      <h2>Post was created at {{ post.create_time }}.</h2>
    {% else %}
      <h2>{{ post.content }}</h2>
    {% endif %}
    <p>{{ post.author }}</p>

     <p>{{ cat.description }}</p>
    <section> 
    <div class="cat-actions">
      <a href="{% url 'posts_update' post.id %}" class="btn warn">Edit</a>
      <a href="{% url 'posts_delete' post.id %}" class="btn danger">Delete</a>
    </div>
  </section>
  </div>
</section>
 {% endcomment %}

{% comment %} 
{% endblock %} {% endcomment %} 